:root{
    --color-hover:#B3AA0A;
    --color-box:#495946;
    --color-button:#323d30;
    --color-text:#FFFFFD;
    --border-color:#686862;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

/* new Game Functions */
.boxNewGame {
    width: 400px;
    height: 70%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 30%;
    right: 50%;
    text-align: center;
    display: none;
    padding: 10px;
}

.boxNewGame .header button {
    margin: 8px;
    margin-right: 8px;
    height: 40px;
    padding: 10px 15px ;
    color: var(--color-text);
    background-color: var(--color-button);
    border-color: var(--border-color);
}
