:root{
    --color-hover:#B3AA0A;
    --color-box:#495946;
    --color-button:#323d30;
    --color-text:#FFFFFD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

/* quit Functions */
.boxQuit{
    width: 40%;
    height: 30%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 30%;
    bottom: 80%;
    left: 30%;
    right: 70%;
    text-align: center;
    display: none;
}
