:root{
    --color-hover:#B3AA0A;
    --color-box:#495946;
    --color-button:#323d30;
    --color-text:#FFFFFD;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppin', sans-serif;
}

.body {
    width: 100%;
    height: 100vh;
    background: url(../images/another\ bg.webp) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.buttonOnBody {
    padding: 0 55px;
    position: relative;
}

h2 {
    color: var(--color-text);
    padding-top: 3px;
    padding-bottom: 1px;
    width: 146px;
    margin-bottom: 1px;
}

h2:hover {
    color: var(--color-hover);
    cursor: pointer;
}

img {
    width: 450px;
    height: 100px;
    cursor: pointer;
}

/* new Game Functions */
.boxNewGame {
    width: 400px;
    height: 70%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 30%;
    right: 50%;
    text-align: center;
    display: none;
}
/* Find Servers Functions */
.boxFindServers{
    width: 650px;
    height: 70%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 20%;
    right: 80%;
    text-align: center;
    display: none;
}

/* Option Functions */
.boxOption{
    width: 650px;
    height: 70%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 15%;
    bottom: 50%;
    left: 20%;
    right: 80%;
    text-align: center;
    display: none;
}
/* quit Functions */
.boxQuit{
    width: 40%;
    height: 30%;
    color: var(--color-text) ;
    background-color: var(--color-box);
    position: absolute;
    top: 30%;
    bottom: 80%;
    left: 30%;
    right: 70%;
    text-align: center;
    display: none;
}
